.page-container {
 height: 100vh; 
}

.grid-wrap {
    /*overflow: hidden;*/
    display: flex;
    height: 480px;
    width: 480px;
    flex-wrap: wrap;
    border: 1px solid red;
}

.item {
    height: 28px;
    width: 28px;
    border: 1px solid blue;
}

/*
    16grid/ .item
*/